@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;

  --primary-code: 181, 255, 44;
  --primary-foreground: 0 0% 98%;

  --secondary-code: 254, 217, 183;
  /* color: rgb(44, 248, 255); */
  --secondary-foreground: 0 0% 9%;

  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;

  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;

  --radius: 0.5rem;

  --primary: rgba(var(--primary-code), 1);
  --primary09: rgba(var(--primary-code), 0.9);
  --primary08: rgba(var(--primary-code), 0.8);
  --primary07: rgba(var(--primary-code), 0.7);
  --primary06: rgba(var(--primary-code), 0.6);
  --primary05: rgba(var(--primary-code), 0.5);
  --primary04: rgba(var(--primary-code), 0.4);
  --primary03: rgba(var(--primary-code), 0.3);
  --primary02: rgba(var(--primary-code), 0.2);
  --primary01: rgba(var(--primary-code), 0.1);

  --secondary: rgba(var(--secondary-code), 1);
  --secondary09: rgba(var(--secondary-code), 0.9);
  --secondary08: rgba(var(--secondary-code), 0.8);
  --secondary07: rgba(var(--secondary-code), 0.7);
  --secondary06: rgba(var(--secondary-code), 0.6);
  --secondary05: rgba(var(--secondary-code), 0.5);
  --secondary04: rgba(var(--secondary-code), 0.4);
  --secondary03: rgba(var(--secondary-code), 0.3);
  --secondary02: rgba(var(--secondary-code), 0.2);
  --secondary01: rgba(var(--secondary-code), 0.1);

  --black: rgba(0, 0, 0, 1);
  --black09: rgba(0, 0, 0, 0.9);
  --black08: rgba(0, 0, 0, 0.8);
  --black07: rgba(0, 0, 0, 0.7);
  --black06: rgba(0, 0, 0, 0.6);
  --black05: rgba(0, 0, 0, 0.5);
  --black04: rgba(0, 0, 0, 0.4);
  --black03: rgba(0, 0, 0, 0.3);
  --black02: rgba(0, 0, 0, 0.2);
  --black01: rgba(0, 0, 0, 0.1);
  --black005: rgba(0, 0, 0, 0.05);

  --white: rgba(255, 255, 255, 1);
  --white09: rgba(255, 255, 255, 0.9);
  --white08: rgba(255, 255, 255, 0.8);
  --white07: rgba(255, 255, 255, 0.7);
  --white06: rgba(255, 255, 255, 0.6);
  --white05: rgba(255, 255, 255, 0.5);
  --white04: rgba(255, 255, 255, 0.4);
  --white03: rgba(255, 255, 255, 0.3);
  --white02: rgba(255, 255, 255, 0.2);
  --white01: rgba(255, 255, 255, 0.1);
  --white005: rgba(255, 255, 255, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  text-rendering: optimizespeed;
  overflow-y: overlay;
  height: 100%;
  color: var(--white08);
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: rgba(var(--primary));
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--primary);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.PrivateSwipeArea-root {
  width: 0 !important;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.animated-rotation {
  animation: rotating 2s linear infinite;
}
.text-circle-rotating {
  animation: rotating 12s linear infinite;
}
.text-circle-coloring {
  animation: coloring 12s linear infinite;
  font-size: 15px;
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes coloring {
  0% {
    fill: #fff;
  }
  35% {
    fill: var(--primary);
  }
  75% {
    fill: var(--secondary);
  }
  100% {
    fill: #fff;
  }
}
